**/src
**/pkg
*.sig
*.pkg.tar.zst
*.tar.xz
*.deb
!firmware.tar.xz
brcm_patchram_plus1
aic8800.tar.gz
ap6256.tar.gz
/linux-orangepi5/*.gz
/linux-mekotronics/linux-rockchip
/linux-rockchip/linux-rockchip

mali-G610-firmware-rkr4/mali_csffw.bin
