[Unit]
Description=Mekotronics Bluetooth service
# Trigger after bluetooth.service and display-manager.service
After=bluetooth.service display-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/bluetooth-fix
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
